extends layout
block content
  h3 User Details
  p Name: #{user.name}
  h3 Tweets
  if user.tweets.length
    ol
      each tweet in user.tweets
        if tweet.originalTweet
          li "#{tweet.content}" with the original tweet "#{tweet.originalTweet.content}"
        else 
          li "#{tweet.content}"
  else
    p #{user.name} has no tweet yet!
  