extends layout
block content
  h2 User Details
  h4 Username / Name
  | #{user.username} / #{user.name}
  h4 Email
  | #{user.email}
  h4 Tweets
  if user.tweets.length
    ol
      each tweet in user.tweets
        if tweet.originalTweet
          li "#{tweet.content}" with the original tweet "#{tweet.originalTweet.content} (#{tweet.id})"
        else 
          li "#{tweet.body}" Click 
            a(href=`/users/${user._id}/tweets/${tweet._id}`) here
            |  to see details.
  else
    p #{user.name} has no tweet yet!
  h4 Home
  if user.home.length
    ol
      each tweet in user.home
        if tweet.originalTweet
          li #{tweet.author.name}: "#{tweet.content}" with the original tweet "#{tweet.originalTweet.content} (#{tweet.id})"
        else 
          li #{tweet.author.name}: "#{tweet.body}" Click 
            a(href=`/users/${tweet.author._id}/tweets/${tweet._id}`) here
            |  to see details.
  else
    p There is no tweets to show!
    
  //- h4 likedTweets
  //- if user.likedTweets.length
  //-   ol
  //-     each tweet in user.likedTweets 
  //-       li "#{tweet.content} (#{tweet.id})"
  //- else
  //-   p #{user.name} has no liked tweet yet!
  h4 Followings
  if user.followings.length
    ol
      each person in user.followings
        li #{person.name}
  else
    p #{user.name} has no following yet!
  h4 Followers
  if user.followers.length
    ol
      each person in user.followers 
        li #{person.name}
  else
    p #{user.name} has no follower yet!